/*
 
      _______.  ______ .______       _______  _______ .__   __.      ______   .______       __   _______ .__   __. .___________.    ___   .___________. __    ______   .__   __. 
     /       | /      ||   _  \     |   ____||   ____||  \ |  |     /  __  \  |   _  \     |  | |   ____||  \ |  | |           |   /   \  |           ||  |  /  __  \  |  \ |  | 
    |   (----`|  ,----'|  |_)  |    |  |__   |  |__   |   \|  |    |  |  |  | |  |_)  |    |  | |  |__   |   \|  | `---|  |----`  /  ^  \ `---|  |----`|  | |  |  |  | |   \|  | 
     \   \    |  |     |      /     |   __|  |   __|  |  . `  |    |  |  |  | |      /     |  | |   __|  |  . `  |     |  |      /  /_\  \    |  |     |  | |  |  |  | |  . `  | 
 .----)   |   |  `----.|  |\  \----.|  |____ |  |____ |  |\   |    |  `--'  | |  |\  \----.|  | |  |____ |  |\   |     |  |     /  _____  \   |  |     |  | |  `--'  | |  |\   | 
 |_______/     \______|| _| `._____||_______||_______||__| \__|     \______/  | _| `._____||__| |_______||__| \__|     |__|    /__/     \__\  |__|     |__|  \______/  |__| \__| 
                                                                                                                                                                                 
 
*/

@media (orientation: landscape) {
    .callout-container {
        background: url("../img/main_horizontal.png") no-repeat top center fixed;
        background-size: contain;
    }
    .callout h1 {
        padding-top: 105px;
        /* margin-top: 105px; */
    }
    .callout-container {
        /* top: 105px; */
    }
    .lead {
        margin: 20px -74px;
    }
}

@media (orientation: portrait) {
    .callout-container {
        background: url("../img/main_vertical.png") no-repeat center center fixed;
        background-size: contain;
    }
}

/*  ___   ___      _______.    _______   _______  _______    ___      __    __   __      .___________.
    \  \ /  /     /       |   |       \ |   ____||   ____|  /   \    |  |  |  | |  |     |           |
     \  V  /     |   (----`   |  .--.  ||  |__   |  |__    /  ^  \   |  |  |  | |  |     `---|  |----`
      >   <       \   \       |  |  |  ||   __|  |   __|  /  /_\  \  |  |  |  | |  |         |  |     
     /  .  \  .----)   |      |  '--'  ||  |____ |  |    /  _____  \ |  `--'  | |  `----.    |  |     
    /__/ \__\ |_______/       |_______/ |_______||__|   /__/     \__\ \______/  |_______|    |__|     
*/

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

@media (max-width: 576px) {
    @media (orientation: landscape) {
        .callout-container {
            background-position-y: 10px;
        }
    }
}

/*    _______..___  ___. 
     /       ||   \/   | 
    |   (----`|  \  /  | 
     \   \    |  |\/|  | 
 .----)   |   |  |  |  | 
 |_______/    |__|  |__| 
 */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /* .callout-container {
        background-position-y: 130px; 
     } */
}

/*___  ___.  _______  
 |   \/   | |       \ 
 |  \  /  | |  .--.  |
 |  |\/|  | |  |  |  |
 |  |  |  | |  '--'  |
 |__|  |__| |_______/ 
*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .navbar {
        width: 200px;
        padding-bottom: 90px;
    }
    .content-container {
        margin-left: 200px;
    }
}

/*__        _______ 
 |  |      /  _____|
 |  |     |  |  __  
 |  |     |  | |_ | 
 |  `----.|  |__| | 
 |_______| \______| 
*/

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar {
        height: 100vh;
        width: 220px;
    }
    .content-container {
        margin: 0 20px 0 240px;
        max-width: 1024px;
    }
    section {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .callout-container {
        background-position-x: 100px;
    }
    .callout h1 {
        margin-left: 200px;
    }
    .lead {
        margin: -37px -178px;
    }
    @media (orientation: landscape) {
        .callout h1 {
            padding-top: 220px;
            margin-left: 0px;
        }
        .callout-container {
            background-position: center center;
        }
        .lead {
             margin: 77px -69px; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5vw;
            line-height: normal;
            position: unset;
             margin-top: 361px;  
            margin-left: -148px;
        }
    }
}

@media screen and (min-width: 993px) and (max-width: 1024px) and (orientation: landscape) {
    /* .callout-container {
        background-position-x: 200px;
        padding-left: 200px;
    } */
    .lead {
        margin: 49px -69px;
    }
    .callout h1 {
        margin-left: 0px;
        margin-top: 160px;
    }
}

/*  ___   ___  __      
    \  \ /  / |  |     
     \  V  /  |  |     
      >   <   |  |     
     /  .  \  |  `----.
    /__/ \__\ |_______|
*/

/* Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
     .callout-container {
        background-position-x: 200px; 
    } 

    
} 

*/