/*
 .___  ___.      ___       __  .__   __.         _______.___________.____    ____  __       _______     _______.
 |   \/   |     /   \     |  | |  \ |  |        /       |           |\   \  /   / |  |     |   ____|   /       |
 |  \  /  |    /  ^  \    |  | |   \|  |       |   (----`---|  |----` \   \/   /  |  |     |  |__     |   (----`
 |  |\/|  |   /  /_\  \   |  | |  . `  |        \   \       |  |       \_    _/   |  |     |   __|     \   \    
 |  |  |  |  /  _____  \  |  | |  |\   |    .----)   |      |  |         |  |     |  `----.|  |____.----)   |   
 |__|  |__| /__/     \__\ |__| |__| \__|    |_______/       |__|         |__|     |_______||_______|_______/    
*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #818181;
  line-height: 22px;
  background: #18212a;
}

section {
  background-color: #000;
  padding-top: 40px;
  border-bottom: 2px solid #18212a;
  padding-left: 20px;
}

h2 {
  margin-left: 10px;
  margin-top: 10px;
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #818181;
}

h3 {
  font-size: 16px;
  margin: 50px 0 10px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #818181;
  text-transform: uppercase;
}

h4 {
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #818181;
}

h5 {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #818181;
}

a {
  color: #fff;
}

a:hover {
  color: #818181;
  text-decoration: none;
}

a.totop-link {
  bottom: 7px;
  left: 7px;
  cursor: pointer;
  font-size: 26px;
  margin: 0;
  color: #7dba5c;
  position: fixed;
  z-index: 5;
}

/*
 .___  ___.  _______ .__   __.  __    __  
 |   \/   | |   ____||  \ |  | |  |  |  | 
 |  \  /  | |  |__   |   \|  | |  |  |  | 
 |  |\/|  | |   __|  |  . `  | |  |  |  | 
 |  |  |  | |  |____ |  |\   | |  `--'  | 
 |__|  |__| |_______||__| \__|  \______/  
 */
nav a {
  margin-bottom: auto;
}
nav li a {
  padding: 0px;
  margin: 0 30px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.2);
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #818181;
  text-transform: uppercase;
}

ul.navbar-nav li:last-child a {
  border-bottom: none;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #7dba5c;
  border-color: rgba(125, 186, 92, 1);
  border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #7dba5c;
}

.navbar-collapse {
  padding-top: 20px;
}



/* social */

.social {
  padding: 30px;
  position: absolute;
  bottom: 10px;
}
.social a {
  font-size: 20px;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}
.social a:hover {
  color: #fff;
}
.social .facebook {
  color: #5a7eca
}
.social .linkedin {
  color: #0077b5;
  margin: 0 26px 0 30px
}
.social .github {
  color: #24292e;
}



/*
      ___      .______     ______    __    __  .___________.
     /   \     |   _  \   /  __  \  |  |  |  | |           |
    /  ^  \    |  |_)  | |  |  |  | |  |  |  | `---|  |----`
   /  /_\  \   |   _  <  |  |  |  | |  |  |  |     |  |     
  /  _____  \  |  |_)  | |  `--'  | |  `--'  |     |  |     
 /__/     \__\ |______/   \______/   \______/      |__|     
*/

.about-con ul {
  margin: 0;
  padding: 20px 10px;
  list-style: none;
}

.about-con ul li:first-child {
  padding: 0 0 12px 0;
}

.about-con ul li {
  border-bottom: 1px solid rgba(235, 235, 235, 0.2);
  padding: 12px 0;
}

.about-con ul li address {
  margin-bottom: 0;
}

.education-details {
  /* height: 85px; */
}

.education-details span {
  font-size: 16px;
}

.full-divider {
  width: 100%;
  height: 1px;
  background-color: #333333;
  margin: 30px 0 0 0;
  clear: both;
}

.education-details .icon-block i {
  font-size: 60px;
  color: #7dba5c;
  margin: 8px 0 0;
}

.education-details:hover i {
  font-size: 73px;
  color: #818181;
}

.education-details:hover .col-3 {
  width: 29%;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.education-details i {
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

/*
  _______   ______   .______      .___  ___. 
 |   ____| /  __  \  |   _  \     |   \/   | 
 |  |__   |  |  |  | |  |_)  |    |  \  /  | 
 |   __|  |  |  |  | |      /     |  |\/|  | 
 |  |     |  `--'  | |  |\  \----.|  |  |  | 
 |__|      \______/  | _| `._____||__|  |__| 
*/

.form-control {
  background-color: transparent;
  border: 1px solid #8f8f8f;
  border-radius: 0;
  line-height: normal;
  font-size: 15px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  background-color: #18212a;
  color: #818181;
  border: 1px solid #7dba5c;
  box-shadow: none;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.row {
  max-width: 1024px;
}

/*
  _______   _______  __       _______ .___________. _______ .___  ___.  _______ 
 |       \ |   ____||  |     |   ____||           ||   ____||   \/   | |   ____|
 |  .--.  ||  |__   |  |     |  |__   `---|  |----`|  |__   |  \  /  | |  |__   
 |  |  |  ||   __|  |  |     |   __|      |  |     |   __|  |  |\/|  | |   __|  
 |  '--'  ||  |____ |  `----.|  |____     |  |     |  |____ |  |  |  | |  |____ 
 |_______/ |_______||_______||_______|    |__|     |_______||__|  |__| |_______|
*/

.test {
  border: 1px solid red;
  /* background: blue;*/
  /* z-index: 9999;  */
  /* margin-left: 200px;
    background-color: transparent; */
}

.box {
  background-color: #444444;
  text-align: center;
  padding: 50px 0;
  color: white;
  font-size: 32px;
  line-height: 32px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.box strong {
  margin-right: 5px;
}

.box-1 {
  background-color: #ff4b9c;
}

.box-2 {
  background-color: #4bedff;
}

.box-3 {
  background-color: #4bffb6;
}

.box-4 {
  background-color: #BA9BFF;
}

#cover-text, #cover-text h2 {
  color: #ffffff;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 220px;
  left: 120px;
  position: absolute;
}

/*
        __   __    __  .___  ___. .______     ______   .___________..______        ______   .__   __.    
       |  | |  |  |  | |   \/   | |   _  \   /  __  \  |           ||   _  \      /  __  \  |  \ |  |    
       |  | |  |  |  | |  \  /  | |  |_)  | |  |  |  | `---|  |----`|  |_)  |    |  |  |  | |   \|  |    
 .--.  |  | |  |  |  | |  |\/|  | |   _  <  |  |  |  |     |  |     |      /     |  |  |  | |  . `  |    
 |  `--'  | |  `--'  | |  |  |  | |  |_)  | |  `--'  |     |  |     |  |\  \----.|  `--'  | |  |\   |    
  \______/   \______/  |__|  |__| |______/   \______/      |__|     | _| `._____| \______/  |__| \__|    
 */

.callout h1 {
  color: #18212a;
  font-weight: bold;
  /* Outline */
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
  animation-name: moveDown;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  margin: 0px;
}

@keyframes moveDown {
  0% {
    margin-top: -55vh;
  }
  20% {
    margin-top: 0;
  }
  80% {
    margin-top: 0;
  }
  100% {
    /* margin-top: 110vh; */
    opacity: 0;
    display: none;
  }
}

.lead {
  color: #818181;
  margin: -37px -74px;
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #7a7a7a;
  padding: 10px 5px;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  text-align: center;
  top: 50vh;
  right: 50vw;
  /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: 5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}

.callout-container {
  height: 100vh;
  /* background: url('../img/web-development-framework.jpg') no-repeat top center fixed; */
  background: #18212a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-divider {
  width: 110px;
  height: 4px;
  background-color: #7dba5c;
  margin: 10px 0 10px 10px;
}

.inner {
  padding: 20px;
}

/*
  _______   ______     ______   .___________. _______ .______      ______   
 |   ____| /  __  \   /  __  \  |           ||   ____||   _  \    |      \  
 |  |__   |  |  |  | |  |  |  | `---|  |----`|  |__   |  |_)  |   `----)  | 
 |   __|  |  |  |  | |  |  |  |     |  |     |   __|  |      /        /  /  
 |  |     |  `--'  | |  `--'  |     |  |     |  |____ |  |\  \----.  |__|   
 |__|      \______/   \______/      |__|     |_______|| _| `._____|   __    
                                                                     (__)   
*/

footer {
  min-height: 50px;
  margin: 0;
}

footer .social {
  position: unset;
  padding: 18px 0px 0px 0px;
}




/*
      _______. __  ___  __   __       __          _______.        ___      .__   __.  _______          _______.___________.    ___      .______          _______.
     /       ||  |/  / |  | |  |     |  |        /       |       /   \     |  \ |  | |       \        /       |           |   /   \     |   _  \        /       |
    |   (----`|  '  /  |  | |  |     |  |       |   (----`      /  ^  \    |   \|  | |  .--.  |      |   (----`---|  |----`  /  ^  \    |  |_)  |      |   (----`
     \   \    |    <   |  | |  |     |  |        \   \         /  /_\  \   |  . `  | |  |  |  |       \   \       |  |      /  /_\  \   |      /        \   \    
 .----)   |   |  .  \  |  | |  `----.|  `----.----)   |       /  _____  \  |  |\   | |  '--'  |   .----)   |      |  |     /  _____  \  |  |\  \----.----)   |   
 |_______/    |__|\__\ |__| |_______||_______|_______/       /__/     \__\ |__| \__| |_______/    |_______/       |__|    /__/     \__\ | _| `._____|_______/    
*/

.skill-title {
  float: left;
  margin: 5px 15px 0px 0px;
  width: 50px;
}

.rating-box {
  height: 60px;
}

.rating-star {
  font-family: "Font Awesome\ 5 Free";
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  width: 24px;
  height: 24px;
  padding: 0px 15px;
  position: relative;
  display: block;
  float: left;
  line-height: 24px;
  /* text-shadow: 0px 0px 5px rgba(125, 186, 92, .5); */
}

.full-star:before {
  font-family: "Font Awesome\ 5 Free";
  /* color: #f2b01e; */
  /* content: "\2605"; */
  color: #7dba5c;
  content: "\f005";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  /* content: "\2605"; */
  content: "\f005";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  /* color: #f2b01e; */
  /* content: "\2605"; */
  color: #7dba5c;
  content: "\f005";
  width: 12px;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:after {
  /* content: '\2605'; */
  content: "\f005";
  position: absolute;
  left: 12px;
  width: 14px;
  text-indent: -12px;
  overflow: hidden;
  font-weight: normal;
}

.rating-box .star-hover {
  position: absolute;
  top: -22px;
  left: 55px;
  z-index: 10;
  display: block;
  opacity: 0;
  padding: 2px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  white-space: nowrap;
}

.rating-box:hover .star-hover {
  opacity: 1
}

/*
 .______     ______   .______     .___________.  ______    _______   ______    __       __    ______   
 |   _  \   /  __  \  |   _  \    |           | /  __  \  |   ____| /  __  \  |  |     |  |  /  __  \  
 |  |_)  | |  |  |  | |  |_)  |   `---|  |----`|  |  |  | |  |__   |  |  |  | |  |     |  | |  |  |  | 
 |   ___/  |  |  |  | |      /        |  |     |  |  |  | |   __|  |  |  |  | |  |     |  | |  |  |  | 
 |  |      |  `--'  | |  |\  \----.   |  |     |  `--'  | |  |     |  `--'  | |  `----.|  | |  `--'  | 
 | _|       \______/  | _| `._____|   |__|      \______/  |__|      \______/  |_______||__|  \______/  
*/

.card img {
  width: 100%;
}

.card {
  border-radius: 0;
}