/* main styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    line-height: 22px;
}

section {
  background-color: #000;

}

h2 {
  margin-left: 10px;
  margin-top: 15%;
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #818181;
}

h3 {
  font-size: 16px;
  margin: 50px 0 10px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #818181;
  text-transform: uppercase;
}

a {
  color: #fff;
}

a:hover {
  color: #818181;
  text-decoration: none;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
}

/* menu */

nav li a {
    
    padding: 0px;
    margin: 0 30px;
    border-bottom: 1px solid rgba(235,235,235,0.2);
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #818181;
    text-transform: uppercase;
}

ul.navbar-nav li:last-child a {
  border-bottom: none;
}


/* about */

.about-con ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}
.about-con ul li:first-child {
  padding: 0 0 12px 0;
}
.about-con ul li {
  border-bottom: 1px solid rgba(235, 235, 235, 0.2);
  padding: 12px 0;
}

.about-con ul li address {
  margin-bottom: 0;
}


/* form */
.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  color: #2c2c2c;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  
  .test {
    border: 1px solid red;
    /* background: blue;
    z-index: 9999; */
    margin-left: 200px;
    background-color: transparent;
  }


 #cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.7);

    top:220px;
    left: 120px;

    position: absolute;

}


/* Jumbotron */

.jumbotron {
  background-color: transparent;
  height: 100vh;
}

.jumbotron h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 40vh;
  
  /* Outline */
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, 
  rgb(255, 255, 255) 1.75517px 0.958851px 0px, 
  rgb(255, 255, 255) 1.0806px 1.68294px 0px, 
  rgb(255, 255, 255) 0.141474px 1.99499px 0px,
  rgb(255, 255, 255) -0.832294px 1.81859px 0px,
  rgb(255, 255, 255) -1.60229px 1.19694px 0px,
  rgb(255, 255, 255) -1.97998px 0.28224px 0px, 
  rgb(255, 255, 255) -1.87291px -0.701566px 0px,
  rgb(255, 255, 255) -1.30729px -1.5136px 0px, 
  rgb(255, 255, 255) -0.421592px -1.95506px 0px,
  rgb(255, 255, 255) 0.567324px -1.91785px 0px, 
  rgb(255, 255, 255) 1.41734px -1.41108px 0px, 
  rgb(255, 255, 255) 1.92034px -0.558831px 0px;
   
}

.jumbotron .lead {
  color: #a7a7a7;
  margin: 25px 0;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}

.callout-container {
  height: 100vh;
  background: url('../img/web-development-framework.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}




.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.inner {
  padding: 20px;
}
/*------------------Footer*/

footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 70px;
  margin: 0;
}



.social-links {
  padding-bottom: 10px;

}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #e84610 ;
}

#footer-details {
  padding: 20px 20px 0px 20px;
}

